@use "_styles/variables" as *;

.sectionComponent {
    height: 100vh;
    padding: 0;
}

.textsContainer{
    color: $secondary-font-color;
    
    h1 {
        font-weight: $font-weight-bold;
        font-size: 10 * $font-size-unit;
        margin-bottom: 3 * $space-unit;
    }

    p {
        font-weight: $font-weight-regular;
        font-size: 3 * $font-size-unit;
        line-height: $line-height-1;
    }
}

.imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .sectionComponent > div {
        flex-direction: column;
        justify-content: center;

        .textsContainer{
            h1 {
                font-size: 7 * $font-size-unit;
                margin-bottom: 2 * $space-unit;
            }
        
            p {
                font-size: 2.5 * $font-size-unit;
                line-height: $line-height-2;
            }
        }
    
        .imageContainer {
            margin-top: 2 * $space-unit;
        }

    }
}