# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/diogosctn/node_modules
/diogosctn/.pnp
/diogosctn/.pnp.js

# testing
/diogosctn/coverage

# next.js
/diogosctn/.next/
/diogosctn/out/
/out/

# production
/diogosctn/build

# misc
/diogosctn/.DS_Store
*.pem

# debug
/diogosctn/npm-debug.log*
/diogosctn/yarn-debug.log*
diogosctn/yarn-error.log*

# local env files
diogosctn/.env*.local

# vercel
diogosctn/.vercel

# typescript
*.tsbuildinfo
diogosctn/next-env.d.ts
diogosctn/package-lock.json
