@use "../_styles/variables" as *;

.container{
    color: $secondary-font-color;

    h1 {
        font-weight: $font-weight-bold;
        font-size: 10 * $font-size-unit;
    }

    p {
        font-weight: $font-weight-regular;
        font-size: 3 * $font-size-unit;
        line-height: $line-height-1;
    }

    & > section {
        margin-bottom: 2 * $space-unit;

    }

    & > section:last-of-type {
        margin-bottom: 11.25 * $space-unit;
    }
}
