@use "../../../_styles/variables" as *;

.skillsContainer {
    flex-direction: column;

    & .titleContainer {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-bottom: 4 * $space-unit;
    }

    & .contentContainer {
        display: flex;
        width: 100%;
        justify-content: center;
    align-items: center;
        
        h3 {
            font-weight: $font-weight-bold;
            font-size: 3 * $font-size-unit;
            text-align: center;
        }
    } 
    
    & .contentContainerInactive {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    } 

    & .contentContainerActive {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        & > :first-child {
            width: 20%;
        }

        & > :last-child {
            width: 80%;
            margin-left: 4 * $space-unit;
        }
    } 
}

@media (max-width: 768px) {
    .skillsContainer {

        .contentContainer {
            flex-direction: column;
        }
    
        .titleContainer > h1 {
            font-size: 7 * $font-size-unit;
            margin-bottom: 2 * $space-unit;
        }

        .contentContainer > p {
            text-align: center;
        }

        .contentContainer p {
            font-size: 2.5 * $font-size-unit;
            line-height: $line-height-2;
            width: 100%;
        }

        .contentContainer li {
            font-size: 2 * $font-size-unit;
            line-height: $line-height-2;
        }

        & .contentContainerActive {
            & > :last-child {
                margin-top: 2 * $space-unit;
                width: 100%;
                margin-left: 0;
            }
        } 
    }
}