@use "../../_styles/variables" as *;

.cover {
    width: 100%;
    background-color: $surface-color;
    padding-top: 8 * $space-unit;
    padding-bottom: 9 * $space-unit;

    & > div {
        display: flex;
        height: 100%;
        max-width: 130 * $space-unit;
        margin: auto;
        align-items: center;
        justify-content: space-between;
    }
}